body {
  background-color: rgb(0, 140, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt3e71282d26ce010e/60df7ecc21d15821fe7e6679/198d2c97b86877929b3458d14fc2375a2e1f977b.jpg);
} 


div {
  border: 1px solid #00f;
  padding: 10px;
  border-radius: 50px;
  margin: 15px;
  font-size: 24px;
}

button{
	border: 3px solid rgb(8, 8, 202);
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}

input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}

#container{
	width: 900px;

}

#resposta{
	 width: 400px;
}
.titulo{
	background-color: rgb(14, 131, 177);
	color: white;
	font-size: 36px;
}

.texto{
	margin: 15px;
}
		
